<div class="col-lg-12" ng-controller="personalInfoContrler"  window-exit>
    <div class="col-md-12 formborder">

        <div id="personal_details">

            </div>
			
			<h4 class="headervalue">Deal Details</h4>
            <fieldset>
                <div class="control">
				<label class=" col-sm-2">CRMID</label>
				
				   <input type="text" name="firstname" value="" class="textfeildname yellow" style="width:30%;"  ng-model="formData.firstname" />
                </div>
               	<div class="control">
                    <label class=" col-sm-2">Financial Year </label>
                    <input type="text"  name="lastname" value="" class="textfeildname yellow" style="width:30%;" ng-model="formData.lastname" />
                </div>
                <div class="control">
                    <label class=" col-sm-2">Sub-vertical<em>*</em></label>
                    <select  name="subverticalArray" ng-model="formData.subvertical" class="textfeildname yellow arrowupdown" style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="title for title in subverticalArray">
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>
                </div>
                <div class="control">
                    <label class=" col-sm-2">Geography<em>*</em></label>
                    <select  name="sexselect" ng-model="formData.sex" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="sex for sex in geographyArray">
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>
                </div>		
				<div class="control">
                    <label class=" col-sm-2">Country<em>*</em></label>
                    <select  name="sexselect" ng-model="formData.sex" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="sex for sex in geographyArray">
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>
                </div>
				<div class="control">
					<label class=" col-sm-2">Unit<em>*</em></label>
					<select  name="sexselect" ng-model="formData.sex" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="sex for sex in geographyArray">
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>
				</div>
                <div class="control"">
                    <label class=" col-sm-2">Client<em>*</em></label>
                    <input type="text" name="postcode" maxlength="4" minlength="4" ng-change="" value="" id="postcde"  class="textfeildname" style="width: 30%;" ng-model="formData.postcode"/>
                </div>
				<div class="control">
						<label class=" col-sm-2">Deal Description <em>*</em></label>
						<input type="text" name="postcode" maxlength="4" minlength="4" ng-change="" value="" id="postcde"  class="textfeildname" style="width: 30%;" ng-model="formData.postcode"/>
				</div>
            
            <div class="control">
                    <label class=" col-sm-2">Aprrox. Deal Value (million USD)</label>
                    <input type="text" name="postcode" maxlength="4" minlength="4" ng-change="" value="" id="postcde"  class="textfeildname" style="width: 30%;" ng-model="formData.postcode"/>
			</div>
            <div class="control">
                    <label class=" col-sm-2">CRM Stage <em>*</em></label>
                    <select  name="language" ng-model="formData.language" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="lang for lang in crmStageArray" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>   
			</div>
			<div class="control">
                    <label class=" col-sm-2">Deal Status <em>*</em></label>
                    <select  name="language" ng-model="formData.language" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="lang for lang in dealStatus" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>   
			</div>
			
			<div class="control">
                    <label class=" col-sm-2">Deal Type <em>*</em></label>
                    <select  name="language" ng-model="formData.language" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="lang for lang in dealType" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>   
			</div>
			
			<div class="control">
                    <label class=" col-sm-2">Service Line <em>*</em></label>
                    <select  name="language" ng-model="formData.language" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="lang for lang in serviceLineArray" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>   
			</div>
			<div class="control">
                    <label class=" col-sm-2">Through Connect <em>*</em></label>
                    <select  name="throughCustomer" ng-model="formData.throughCustomer" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="lang for lang in throughCustomerArray" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                   </select>   
			</div>
			<div class="control">
                    <label class=" col-sm-2">Passthru %(Revenue to be passed to subContactor/Partner)</label>
                    <input type="text"  name="subContactor" value="" class="textfeildname yellow" style="width:30%;"  ng-model="formData.subContactor" />  
			</div>
			<div class="control">
                    <label class=" col-sm-2">Margin Range %</label>
                    <input type="text"  name="margin" value="" class="textfeildname yellow" style="width:30%;"  ng-model="formData.margin" />  
			</div>
			<div class="control">
                    <label class=" col-sm-2">Tenure (Months)</label>
                    <input type="text"  name="tenure" value="" class="textfeildname yellow" style="width:30%;"  ng-model="formData.tenure" />         
			</div>
			<div class="control">
                    <label class=" col-sm-2">Deal Size <em>*</em></label>
                    <select  name="dealSize" ng-model="formData.dealSize" class="textfeildname yellow arrowupdown"  style="width:30%; -moz-appearance: none;-webkit-appearance: none;appearance:none;" ng-options="lang for lang in dealSize" >
                        <option value="">--Select--</option> <!-- not selected / blank option -->
                    </select>   
			</div>
			<div class="control">
                    <label class=" col-sm-2">Remarks(Reason for Loss/Win)</label>
                    <input type="textarea"  name="remarks" value="" class="textfeildname yellow" style="width:30%;"  ng-model="formData.remarks" />      
			</div>
			
			<div class="control">
                    <label class=" col-sm-2">Competition</label>
                    <input type="text"  name="competition" value="" class="textfeildname yellow" style="width:30%;"  ng-model="formData.competition" />   
			</div>
			<div class="control">
                    <label class=" col-sm-2">Bid Manager/SPOC <em>*</em></label>
                    <input type="text"  name="bidmanager" value="" class="textfeildname yellow" style="width:30%;"  ng-model="formData.bidmanager" />   
			</div>
			<br>
			
                    <div class="col-xs-6 col-xs-offset-3 col-xs-7" style="float: right; margin-right: 25%;">
                        <a ui-sref="form.treatment" class="btn btn-block btn-info"><b>Submit</b> </a>
                    </div>
                    <div style="margin-bottom: 3%;"></div>
            </fieldset>
        </div>
    </div>
</div>

